body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  width: 95%;
  background-color: rgb(56, 135, 199);
}

h1 {
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 4px;
  font-weight: 500;
  text-align: center;
  word-wrap: break-word;
}
