body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(56, 135, 199);
}

#container {
  display: grid;
  width: 600px;
  height: 600px;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 2px solid white;
}

.box {
  border: 2px solid white;
  background-color: rgba(0, 49, 95, 0.658);
  display: flex;
  justify-content: center;
  align-items: center;
}

#box-3 {
  width: 200px;
  height: 604px;
  grid-column: 3/4;
  grid-row: 1/3;
}

#box-1,
#box-2,
#box-4,
#box-5,
#box-6 {
  height: 100px;
  width: 100px;
}
