body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
  width: 100%;
  background: rgb(56, 135, 199);
}

h1 {
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 4px;
  font-weight: 500;
}
