* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(56, 135, 199);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

#container {
  display: flex; /* 1. Makes the container a flexbox */
  flex-wrap: wrap;
  width: 400px; /* Example width for the container */
  border: 1px solid #ccc;
  border: 2px solid #f9f9f9;
}

.box {
  height: 100px;
  width: 100px;
  border: 2px solid white;
  background-color: rgba(0, 49, 95, 0.658);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box-3 {
  flex-grow: 1;
}
