body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  width: 95%;
  background-color: rgb(56, 135, 199);
  font-family: cursive;
}

h1 {
  letter-spacing: 4px;
  font-weight: 500;
  text-align: center;
  word-wrap: break-word;
}

#time,
h1,
h2,
h3 {
  color: aliceblue;
  font-weight: 600;
  font-size: 1.2rem;
}

#time {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 10px;
}
